<div class="card sameheight-item stats" data-exclude="xs">
	<div class="card-block">

		<div class="title-block">
			<h4 class="title">
				Statistiques
			</h4>
		</div>

		<div class="row row-sm stats-container">
			<div class="col-xs-12 col-sm-6 stat-col">
				<div class="stat-icon">
					<i class="fa fa-users"></i>
				</div>
				<div class="stat">
					<div class="value">
						<b>30</b> nouveaux membres
					</div>
					<div class="name">
						89 membres
					</div>
				</div>
				<progress class="progress stat-progress" value="34" max="100">
					<div class="progress">
						<span class="progress-bar" style="width: 34%;"></span>
					</div>
				</progress>
			</div>

			<div class="col-xs-12 col-sm-6 stat-col">
				<div class="stat-icon">
					<i class="fa fa-envelope"></i>
				</div>
				<div class="stat">
					<div class="value">
						<b>5</b> nouveaux messages
					</div>
					<div class="name">
						45 messages
					</div>
				</div>
				<progress class="progress stat-progress" value="25" max="100">
					<div class="progress">
						<span class="progress-bar" style="width: 25%;"></span>
					</div>
				</progress>
			</div>

			<div class="col-xs-12 col-sm-6  stat-col">
				<div class="stat-icon">
					<i class="fa fa-edit"></i>
				</div>
				<div class="stat">
					<div class="value">
						<b>2</b> nouveaux sujets
					</div>
					<div class="name">
						30 sujets sur le forum
					</div>
				</div>
				<progress class="progress stat-progress" value="60" max="100">
					<div class="progress">
						<span class="progress-bar" style="width: 60%;"></span>
					</div>
				</progress>
			</div>

			<div class="col-xs-12 col-sm-6 stat-col">
				<div class="stat-icon">
					<i class="fa fa-globe"></i>
				</div>
				<div class="stat">
					<div class="value">
						<b>3</b> nouvelles demandes de partenariats
					</div>
					<div class="name">
						10 partenariats
					</div>
				</div>
				<progress class="progress stat-progress" value="75" max="100">
					<div class="progress">
						<span class="progress-bar" style="width: 75%;"></span>
					</div>
				</progress>
			</div>
		</div>

	</div>
</div>
